USE [master]
GO
/****** Object:  Database [BooksCollectionAPI]    Script Date: 09-12-2019 11:33:58 AM ******/
CREATE DATABASE [BooksCollectionAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BooksCollectionAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BooksCollectionAPI.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BooksCollectionAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BooksCollectionAPI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BooksCollectionAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BooksCollectionAPI]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 09-12-2019 11:33:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [nvarchar](50) NULL,
	[Author] [nvarchar](50) NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [decimal](18, 0) NULL,
	[Pages] [int] NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Books] ON 

GO
INSERT [dbo].[Books] ([ID], [BookName], [Author], [Price], [Quantity], [Pages]) VALUES (2, N'C#', N'Nirmal', CAST(50 AS Decimal(18, 0)), CAST(52 AS Decimal(18, 0)), 125)
GO
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
USE [master]
GO
