@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>Book Store in Detail </h4>
<img src="https://www.wiseinkblog.com/wp-content/uploads/2013/07/Stanley-Livingstone-The-Hague-Travel-bookstore.jpg" height="400px" width="1000px"></img>
<br/><hr/>
<p>
    Before automating a bookshop we have to understand the concept of automation. In automation of any operation we make a system which do work automatically as the respective events occurs, for which it is meant.

    There are the some common examples of the automation like that auto pilot system in the aircraft, automatic home systems (electric system, water system, fire alarm system, doors system etc). These are best examples of the automation systems.

    Here we are try to develop such type system which is provide the automation on the any type of the bookshop. That means a shop which has the type system which provides the facility to the customers of the shop to purchase the books from the shop without any complexity.

    For example any customer wants to purchase any book from the shop than first of all customer just choose the stream of the book than he/she can see the more than one type of books there and then he/she can choose the specific book from there. And then purchase it by paying price on bookshop cash counter and receives its invoice.

    Problem Definition:
    Almost every activity in the world today is controlled by computer driven software programs. His trend was first accommodated by engineering applications in the past. However, as the lifestyle became more and more complex, every area of human interactions was invaded by various software systems, such as real time, business, simulation, embedded, web based, personal and more recently, artificial intelligence software etc.

    According to the above facts, managing and maintaining a book shop could also be controlled by efficient software. This project focuses attention on designing efficient and reliable software which controls the transactions of a bookshop.

    In real world, it tends to associate with automated systems as they provide many benefits than doing the same thing in manually. As above mentioned, here we have introduced a system which can be used to maintain a bookshop.
</p>
