@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
  <img src="https://www.wiseinkblog.com/wp-content/uploads/2013/07/Stanley-Livingstone-The-Hague-Travel-bookstore.jpg" height="400px" width="1000px"></img>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Book Store Data</h2>
        <p>
           All famous Books of top authors are available here
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>About Project</h2>
        <p>Anyone can store all Information of books here as much as anyone can and also edit or delete the as per needs</p>
       
    </div>
    <div class="col-md-4">
        <h2>What is book store?</h2>
        <p>Bookselling is the commercial trading of books which is the retail and distribution end of the publishing process. People who engage in bookselling are called booksellers, bookpeople, bookmen, or bookwomen. The founding of libraries in 300 BC stimulated the energies of the Athenian booksellers</p>
        
    </div>
</div>